<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">
    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>
  </section>
  <section>
    <% if @card %>
        <%= form_tag review_card_path(@card) do %>
          <section>
            <%= @card.original_text %><br><br>
          </section>
           <section>
            перевод:
          </section>
          <section> 
            <%= text_field_tag(:translated_text) %>
            <%= submit_tag("проверить") %>
          </section> 
        <% end %> 
        <% flash.each do |key, msg| %>
          <%= content_tag :div, msg, :id => key %>
        <% end %>
      <% end %> 
  </section>
</body>
