<!DOCTYPE html>
<html>
  <head>
    <title>Flashcard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <section id="container">
      <header class="clearfix">
        <h1><%= link_to 'Флэшкарточкер', root_path %> </h1>
        <% if current_user %>
          <ul class="navigation-links">
            <li><%= link_to 'Все карточки', cards_path %> </li>
            <li><%= link_to 'Добавить карточку', new_card_path %></li>
          </ul>
        <% end %>
      </header>
  </section>
  <div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>
  <section id="container">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key %>
    <% end %>
  </section>  
  </body>
</html>
