<!DOCTYPE html>
<html>
  <head>
    <title>Flashcard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <section id="container">
      <header class="clearfix">
        <h1>Флэшкарточкер</h1>
      </header>
  </section>
  <nav class="navbar navbar-inverse">
  <div id="nav">
    <ul class="nav navbar-nav">
    <% if current_user %>

      <li><%= link_to 'Все карточки', cards_path %> </li>
      <li><%= link_to 'Добавить карточку', new_card_path %></li>
    <% else %>
      <li><%= link_to "Register", new_user_path %></li> |
      <li><%= link_to "Login", :login %></li>
    <% end %>
    </ul>
    <% if current_user %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Edit profile", edit_user_path(current_user.id) %></li>
      <li><%= link_to "Logout", :logout, method: :post %></li>
      </ul>
    <% end %>
  </div>
</nav>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <%= yield %>
  <section id="container">
    <% flash.each do |key, msg| %>
      <%= content_tag :div, msg, id: key %>
    <% end %>
  </section>  
  </body>
</html>
