<!DOCTYPE html>
<html>
  <head>
    <title>Flashcard</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <section id="container">
      <header >
        <h1>Флэшкарточкер</h1>
        <p class="lead">Первый в мире удобный менеджер флеш-карточек. Именно так.</p>
      </header>
  </section>
  <section id="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Главная', root_path %> </li>
          <% if current_user %>

            <li><%= link_to 'Все карточки', cards_path %> </li>
            <li><%= link_to 'Добавить карточку', new_card_path %></li>
          <% else %>
          <li><%= link_to "Register", new_user_path %></li> 
          <li><%= link_to "Login", :login %></li>
          <% end %>
        </ul>
        <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Edit profile", edit_user_path(current_user.id) %></li>
            <li><%= link_to "Logout", :logout, method: :post %></li>
            </ul>
        <% end %>
      </div>
    </nav>
  </section>
  <section id="container">
    <% flash.each do |type, message| %>
      <div class="alert alert-dismissible <%= bootstrap_class_for(type) %> ">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p id="notice"><%= message %></p>
      </div>
    <% end %>
    
  </section>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
    $('.alert').fadeOut(2500);
    });
  </script>
  <%= yield %>
  </body>
</html>
